/* Bobbel koral placering og størrelse */
#bubleCoral {
  position: absolute;
  width: 10vw;
  bottom: 0.5vh;
  left: 58%;
  cursor: pointer;
}

/* Forstørrelse af koral, når man klikker */
#bubleCoral.bigger {
  transform: scale(1.2);
  animation: bigBuble 8s ease;
  transform-origin: bottom center;
}

@keyframes bigBuble {
  0% {
    transform: skew(0deg) scale(1.2);
  }
  25% {
    transform: skew(-10deg) scale(1.2);
  }
  50% {
    transform: skew(10deg) scale(1.2);
  }
  75% {
    transform: skew(-10deg) scale(1.2);
  }
  100% {
    transform: skew(0deg) scale(1.2);
  }
}

/* Grøn tang placering og størrelse */
#greenTang {
  position: absolute;
  width: 10vw;
  bottom: 0vh;
  left: 35%;
  cursor: pointer;
}

/* Forstørrelse af grøn tang, når man klikker */
#greenTang.biggerGreen {
  transform: scale(1.2);
  animation: bigGreen 8s ease;
  transform-origin: bottom center;
}

@keyframes bigGreen {
  0% {
    transform: skew(0deg) scale(1.2);
  }
  25% {
    transform: skew(-8deg) scale(1.2);
  }
  50% {
    transform: skew(8deg) scale(1.2);
  }
  75% {
    transform: skew(-8deg) scale(1.2);
  }
  100% {
    transform: skew(0deg) scale(1.2);
  }
}

/* Rød koral placering og størrelse */
#redCoral {
  position: absolute;
  width: 8vw;
  bottom: 1vh;
  left: 14%;
  cursor: pointer;
}

/* Forstørrelse af Rød koral, når man klikker */
#redCoral.biggerRed {
  transform: scale(1.2);
  animation: bigRed 8s ease;
  transform-origin: bottom center;
}

@keyframes bigRed {
  0% {
    transform: rotate(0deg) scale(1.2);
  }
  25% {
    transform: rotate(-8deg) scale(1.2);
  }
  50% {
    transform: rotate(8deg) scale(1.2);
  }
  75% {
    transform: rotate(-8deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1.2);
  }
}