* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url("../imges/akvarie-baggrund-landskab.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
}

body {
  font-family: "Baloo Thambi 2";
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
  }
}

#fiske-popup {
  position: fixed; /* fixed så den altid er midt på skærmen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  z-index: 100;
  pointer-events: none;
}

#fiske-popup.popup-synlig {
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}

.popup-boble {
  width: 100%; /* tilpas boble */
}

.popup-indhold {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 65%;
}

/* Fisk 1 Animation og placering */
.fish1 {
  position: absolute;
  width: 12vw;
  bottom: 55vh;
  left: calc(-12vw);
  animation: fish1 20s ease-in-out infinite;
}

@keyframes fish1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + 12vw));
  }
}

/* Fish Group placering og størrelse. */
.fishGroup {
  position: absolute;
  bottom: 10vh;
  width: 22vw;
  height: 15vw;
}

.fish2 {
  position: absolute;
  width: 6vw;
}

/* Placering af hver enkel fisk i fish Group */
#fishA {
  left: 3vw;
  top: 0;
}

#fishB {
  left: 10vw;
  top: 0;
}

#fishC {
  left: 0vw;
  top: 5vw;
}

#fishD {
  left: 7vw;
  top: 5vw;
}

#fishE {
  left: 14vw;
  top: 5vw;
}

#fishF {
  left: 8vw;
  top: 10vw;
}

/* fishGroup animation */
.fishGroup {
  left: calc(-22vw);
  animation: fish2 25s ease infinite;
}

@keyframes fish2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + 22vw));
  }
}

/* Fisk 3 Animation og placering */
.fish3 {
  position: absolute;
  width: 15vw;
  bottom: 38vh;
  right: calc(-15vw);
  animation: fish3 30s ease-out infinite;
}

@keyframes fish3 {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  100% {
    transform: translateX(calc(-100vw - 15vw)) rotateY(180deg);
  }
}

/* Fisk 4 Animation og placering */
.fish4 {
  position: absolute;
  width: 15vw;
  bottom: 70vh;
  right: -15vw;
  animation: fish4 16s ease-in-out infinite;
}

@keyframes fish4 {
  0% {
    transform: translateX(0) rotateY(180deg);
  }

  49% {
    transform: translateX(-115vw) rotateY(180deg);
  }

  50% {
    transform: translateX(-115vw) rotateY(0deg);
  }

  99% {
    transform: translateX(0) rotateY(0deg);
  }

  100% {
    transform: translateX(0) rotateY(180deg);
  }
}

/* Fisk 5 Animation og placering */
.fish5 {
  position: absolute;
  width: 25vw;
  bottom: 1vh;
  left: 5vw;
  animation: fish5 60s ease infinite;
}

@keyframes fish5 {
  0% {
    transform: translateX(0) rotateY(180deg);
  }

  49% {
    transform: translateX(70vw) rotateY(180deg);
  }

  50% {
    transform: translateX(70vw) rotateY(0deg);
  }

  99% {
    transform: translateX(0) rotateY(0deg);
  }

  100% {
    transform: translateX(0) rotateY(180deg);
  }
}

/* Fisk 6 Animation og placering */
.fish6 {
  position: absolute;
  width: 6vw;
  bottom: 22vh;
  right: -6vw;
  animation: fish6 60s ease-in-out infinite;
}

@keyframes fish6 {
  0% {
    transform: translateX(0) rotateY(0deg);
  }

  49% {
    transform: translateX(-106vw) rotateY(0deg);
  }

  50% {
    transform: translateX(-106vw) rotateY(180deg);
  }

  99% {
    transform: translateX(0) rotateY(180deg);
  }

  100% {
    transform: translateX(0) rotateY(0deg);
  }
}

/* Bubble
#bubble1 {
  transition: opacity 0.3s;
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 100px;
  cursor: pointer;
}
#bubble2 {
  transition: opacity 0.3s;
  position: absolute;
  bottom: 0;
  right: 130px;
  width: 100px;
  cursor: pointer;
} */

.bubble {
  position: absolute;
  width: 40px;
  cursor: pointer;
  transition:
    transform 0.2s,
    opacity 0.2s;
  opacity: 0.6;
}

/* Food section */
#food-popup {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

#food-popup .foods {
  display: flex;
  gap: 34px;
}

/* .bubble {
 animation: floatUp 5s linear infinite;
}

@keyframes floatUp {
  from {
    bottom: 0;
  }
  to {
    bottom: 100vh;
}
} */

/* Bobbel koral placering og størrelse */
#bubleCoral {
  position: absolute;
  width: 10vw;
  bottom: 0.5vh;
  left: 58%;
  cursor: pointer;
}

/* Forstørrelse af koral, når man klikker */
#bubleCoral.bigger {
  transform: scale(1.2);
  animation: bigBuble 8s ease;
  transform-origin: bottom center;
}

@keyframes bigBuble {
  0% {
    transform: skew(0deg) scale(1.2);
  }
  25% {
    transform: skew(-10deg) scale(1.2);
  }
  50% {
    transform: skew(10deg) scale(1.2);
  }
  75% {
    transform: skew(-10deg) scale(1.2);
  }
  100% {
    transform: skew(0deg) scale(1.2);
  }
}

/* Grøn tang placering og størrelse */
#greenTang {
  position: absolute;
  width: 10vw;
  bottom: 0vh;
  left: 35%;
  cursor: pointer;
}

/* Forstørrelse af grøn tang, når man klikker */
#greenTang.biggerGreen {
  transform: scale(1.2);
  animation: bigGreen 8s ease;
  transform-origin: bottom center;
}

@keyframes bigGreen {
  0% {
    transform: skew(0deg) scale(1.2);
  }
  25% {
    transform: skew(-8deg) scale(1.2);
  }
  50% {
    transform: skew(8deg) scale(1.2);
  }
  75% {
    transform: skew(-8deg) scale(1.2);
  }
  100% {
    transform: skew(0deg) scale(1.2);
  }
}

/* Rød koral placering og størrelse */
#redCoral {
  position: absolute;
  width: 8vw;
  bottom: 1vh;
  left: 14%;
  cursor: pointer;
}

/* Forstørrelse af Rød koral, når man klikker */
#redCoral.biggerRed {
  transform: scale(1.2);
  animation: bigRed 8s ease;
  transform-origin: bottom center;
}

@keyframes bigRed {
  0% {
    transform: rotate(0deg) scale(1.2);
  }
  25% {
    transform: rotate(-8deg) scale(1.2);
  }
  50% {
    transform: rotate(8deg) scale(1.2);
  }
  75% {
    transform: rotate(-8deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1.2);
  }
}