* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Fisk 1 Animation og placering */
.fish1 {
    position: absolute;
    width: 15vw;
    bottom: 50vh;
    z-index: 1;
    left: calc(-15vw);
    animation: fish1 20s ease-in-out infinite;
}

@keyframes fish1 {
    0% {transform: translateX(0);}
    100% {transform: translateX(calc(100vw + 20vw));}
}